* {
    font-family: "Fira Code", monospace;
}

body {
    margin: 0;
    overflow: hidden;
    background: black;
    text-align: center;
}

#main {
    color: white;
    opacity: 0;
    transition: .25s;
}

h1 {
    margin: 0;
    color: white;
}

h2 {
    margin: 0;
    color: gray;
}

h3 {
    color: white;
    margin-top: 1rem;
    margin-bottom: 0;
    
}

#links {
   margin: 0;
}

a {
    color: white;
    text-decoration: none;
}

a.d {
    text-decoration: none;
}

a:hover {
    color: gray;
    transition-duration: 250ms;
}

#globe {
    margin: 0;
}

canvas {
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    height: 75%;
    margin: 0;
}